<div class="wrapper">
  <h3>My Favorites</h3>
  <div class="cards">
    <div class="card">
      <div class="info">
        <img src="../../../../assets/proposals/chair-1.png">
        <div>
          <h3>Chair Russo</h3>
          <h4>$ 12.70</h4><br>
          <span>Material:<br>Wood, fabric</span><br><br>
          <span>Manufacturer:<br>Poland</span>
        </div>
        <span>
          <img src="../../../../assets/proposals/like.png">
        </span>
      </div>
      <div class="navig">
        <button class="orange">BUY NOW</button>
        <button class="white">SAVE IN MESSENGER</button>
      </div>
    </div>
  </div>
  <br><br>
  <br><br>
</div>
